.c-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &--2 {
        width: 48.1%;
    }

    &--3 {
        width: calc(24.1% + 50px);
    }
}
