.c-about {
    padding-top: 74px;
    padding-bottom: 24px;
    @include sp {
        padding-top: 50px;
        padding-bottom: 24px;
    }

    // .c-about__wrapper {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    // }

    .c-about__heading {
        margin-top: 80px;
        @include sp {
            padding: 0 22px;
            margin-top: 43px;
        }
    }

    .c-about__description {
        font-size: 1.6rem;
        text-align: center;

        margin-top: 28px;
        @include sp {
            line-height: 1.7;

            margin-top: 24px;
        }
    }
}
