.c-cart {
  padding-top: 95px;
  @include sp {
    padding-right: 15px !important;
    padding-left: 15px !important;

    padding-top: 55px;
  }

  .l-container--1040px {
    @include tab {
      max-width: 550px;
    }
  }

  .c-cart__courses {
    width: 100%;
  }

  .c-cart__course {
    padding-top: 73px;

    @include tab {
      padding-top: 32px;

      flex-direction: column;
      align-items: center;
    }

    &:not(:first-child) {
      padding-top: 50px;
    }
  }

  .c-cart__courseimgblock {
    @include tab {
      width: 100%;
    }
  }

  .c-cart__courseimg {
    margin-top: 10px;
  }

  .c-cart__courseinfo {
    width: 47.1%;

    align-items: flex-start;
    justify-content: flex-start;

    @include tab {
      width: 100%;
    }

    @include sp {
      margin-top: -25px;
    }
  }

  .c-cart__coursetitle {
    font-weight: 500;
    font-size: 2.2rem;
    letter-spacing: 1.1px;

    margin-top: 43px;

    @include sp {
      margin-top: 44px;
      font-size: 2rem;
    }
  }

  .c-cart__pricenote {
    margin-top: 6px;
    @include sp {
      margin-top: 0;
    }
  }

  .c-cart__courseprice {
    font-weight: 500;
    font-size: 2.2rem;
    letter-spacing: 1px;
    @include sp {
      font-size: 2rem;
    }
  }

  .c-cart__coursepricenote {
    font-size: 1.4rem;
    letter-spacing: 1px;

    margin-top: 6px;
    margin-left: -14px;
    @include sp {
      font-size: 1.2rem;

      margin-left: -12px;
    }
  }

  .c-cart__formandbtn {
    width: 100%;

    margin-top: 25px;
    @include sp {
      margin-top: 15px;
    }
  }

  .c-cart__form {
    width: 28.6%;
    @include sp {
      width: 27.6%;
    }
  }

  .c-cart__formlabel {
    font-size: 1.8rem;

    margin-top: 9px;

    @include sp {
      font-size: 1.4rem;

      min-width: 35px;
    }
  }

  .c-cart__forminput {
    font-family: $noto-sans-jp;
    font-size: 1.8rem;
    color: $black-almost;
    text-align: center;

    border-width: 1px;
    border-color: rgb(214, 0, 15);
    border-style: solid;
    border-radius: 25px;

    padding: 0 20px;
    width: 57%;
    height: 50px;

    box-sizing: border-box;

    @include sp {
      border-radius: 20px;

      padding: 0 10px;
      width: 70%;
      height: 40px;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  input[type="number"] {
    appearance: textfield;
  }

  .c-cart__buttons {
    width: 65.4%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include sp {
      width: 66.3%;
    }
  }

  .c-cart__btn {
    width: 100%;
    @include sp {
      height: 40px;

      padding: 0;
    }
  }

  .c-cart__btn--cart {
    .c-button__img {
      @include sp {
        max-width: 107px;
      }
      @include from375down {
        max-width: 29vw;
        min-width: 93px;
      }
    }
  }

  .c-cart__btn--view {
    margin-top: 30px;
    @include sp {
      margin-top: 20px;
    }

    .c-button__img {
      @include sp {
        max-width: 193px;
      }
      @include from375down {
        max-width: 52vw;
        min-width: 167px;
      }
    }
  }
}
