.c-footer {
  padding-top: 98px;
  padding-bottom: 10px;

  position: relative;
  overflow: hidden;

  @include sp {
    margin-top: -98px;
    padding-bottom: 30px;
  }

  &::after {
    content: "";
    border-radius: 50%;
    background-color: rgb(241, 245, 245);

    width: 45.7%;
    aspect-ratio: 1/1;

    position: absolute;
    left: 12.9%;
    top: 62px;
    z-index: -1;
    @include tab {
      width: 85.3%;

      left: -10.9%;
      top: 78px;
    }
    @include sp {
      left: -3.9%;
    }

    @include from375down {
      width: 320px;
      left: -15px;
    }
  }

  .c-footer__logo {
    @include sp {
      width: 188px;
    }
  }

  .c-footer__links {
    margin-top: 55px;
    @include tab {
      flex-direction: column;
      align-items: center;
    }
    @include sp {
      margin-top: 24px;
    }
  }

  .c-footer__linkwrapper {
    &:not(:first-child) {
      margin-left: 29px;
      @include tab {
        margin-left: 0;
        margin-top: 20px;
      }
      @include sp {
        margin-top: 21px;
      }
    }
  }

  .c-footer__link {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.6px;
    text-decoration-color: $black-almost;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;

    @include sp {
      text-underline-offset: 3px;
    }
  }

  .c-footer__copyright {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.4px;

    margin-top: 44px;
    @include sp {
      font-size: 1rem;
    }
  }
}
