<%- include('_layouts/layout', { title: 'NIIGATA | Home' }); -%>
  <!-- @meta -->
  <meta name="description" content="Home page">
  <!-- @@meta -->
  <!-- @content -->
  <main class="p-top">
    <%- include('_partials/keyvisual'); -%>
      <%- include('_partials/course'); -%>
        <%- include('_partials/about'); -%>
          <%- include('_partials/howtouse'); -%>
            <%- include('_partials/cart'); -%>
              <%- include('_partials/pagetop'); -%>
  </main>
  <!-- @@content -->