<section class="c-about u-paddingx50">
    <div class="c-about__wrapper c-col l-container l-container--1040px">
        <div class="c-line is-hidden">
            <picture>
                <source media="(max-width: 767px)" srcset="./assets/img/about/hr_01--sp.png">
                <img src="./assets/img/about/hr_01.png" alt="decoration line icon">
            </picture>
        </div>

        <h2 class="c-about__heading is-hidden">
            <picture>
                <source media="(max-width: 767px)" srcset="./assets/img/about/head3--sp.png">
                <img src="./assets/img/about/head3.png" alt="Gift Padは「メール一通」でギフトが贈れる
            ソーシャルギフトサービスです">
            </picture>
        </h2>

        <p class="c-about__description is-hidden">
            受取ページはカスタマイズ可能<br class="is-display--onlysp">あなたの気持ちも贈れます。<br>
            お土産の受取ページにオリジナルの<br class="is-display--onlysp">メッセージや動画・画像をアップできます。<br>
            ただ単にお土産を送るだけでなく<br class="is-display--onlysp">あなたの気持ちも一緒に贈ることができます。<br>
        </p>
    </div>
</section>