<header class="c-header u-absolute u-paddingx50">
    <div class="c-header__wrapper l-container l-container--1040px">
        <a class="c-header__logoblock" href="./">
            <picture>
                <source media="(max-width: 767px )" srcset="./assets/img/header/logo--sp.png">
                <img class="c-header__logo" src="./assets/img/header/logo.png" alt="NIIGATA">
            </picture>

        </a>
        <a class="c-header__servicetxtblock" href="#">
            <picture>
                <source media="(max-width: 767px )" srcset="./assets/img/header/header__servicetxt--sp.png">
                <img class="c-header__servicetxt" src="./assets/img/header/header__servicetxt.png" alt="オンラインお土産サービス">
            </picture>
        </a>
    </div>
</header>