<section class="c-howtouse u-paddingx50">
    <div class="c-howtouse__wrapper c-col l-container l-container--1040px">
        <div class="c-line is-hidden">
            <picture>
                <source media="(max-width: 767px)" srcset="./assets/img/howtouse/hr_02--sp.png">
                <img src="./assets/img/howtouse/hr_02.png" alt="decoration line icon">
            </picture>
        </div>
        <h2 class="c-howtouse__heading is-hidden">
            <picture>
                <source media="(max-width: 767px)" srcset="./assets/img/howtouse/heading2--sp.png">
                <img src="./assets/img/howtouse/heading2.png" alt="ご利用方法">
            </picture>
        </h2>
        <div class="c-howtouse__blocks c-row ">
            <div class="c-howtouse__block c-col c-col--2 is-hidden">
                <div class="c-howtouse__image">
                    <picture>
                        <source media="(max-width: 767px)" srcset="./assets/img/howtouse/illust1--sp.png">
                        <img src="./assets/img/howtouse/illust1.png" alt="メールやSNSで贈る方法">
                    </picture>
                </div>

                <h3 class="c-howtouse__blockheading">
                    <picture>
                        <source media="(max-width: 767px)" srcset="./assets/img/howtouse/heading31--sp.png">
                        <img class="c-howtouse__blockheadingimg" src="./assets/img/howtouse/heading31.png"
                            alt="メールやSNSで贈る方法">
                    </picture>
                </h3>

                <ol class="c-howtouse__blocksteps">
                    <li class="c-howtouse__blockstep">コースを選んでお支払します。</li>
                    <li class="c-howtouse__blockstep">管理画面から、メッセージや動画を入れます<span class="u-palt">。</span></li>
                    <li class="c-howtouse__blockstep">お届け先様に、メールやSNSで受取用URLを
                        　送ります。</li>
                </ol>
            </div>

            <div class="c-howtouse__block c-col c-col--2 is-hidden">
                <div class="c-howtouse__image">
                    <picture>
                        <source media="(max-width: 767px)" srcset="./assets/img/howtouse/illust2--sp.png">
                        <img src="./assets/img/howtouse/illust2.png" alt="受け取り方">
                    </picture>
                </div>

                <h3 class="c-howtouse__blockheading">
                    <picture>
                        <source media="(max-width: 767px)" srcset="./assets/img/howtouse/heading32--sp.png">
                        <img class="c-howtouse__blockheadingimg" src="./assets/img/howtouse/heading32.png" alt="受け取り方">
                    </picture>
                </h3>

                <ol class="c-howtouse__blocksteps">
                    <li class="c-howtouse__blockstep">送られてきた受取用URLにアクセスし、お好
                        　きなギフトを選びます。</li>
                    <li class="c-howtouse__blockstep">後日、ギフトが届きます。</li>
                </ol>
            </div>
        </div>
    </div>
</section>