<section class="c-keyvisual">
    <div class="c-keyvisual__wrapper l-container l-container--1200px">
        <!-- Yellow block starts -->
        <div class="c-keyvisual__yellowblock u-absolute">
            <picture>
                <source media="(max-width: 767px)" srcset="./assets/img/keyvisual/back_yellow--sp.png">
                <img src="./assets/img/keyvisual/back_yellow.png" alt="自然の恵、職人の技がつまった
            新潟からのお届け物">
            </picture>
        </div>
        <!-- Yellow block ends -->

        <!-- PC TAB Pink block & Map & Niigata starts -->
        <div class="c-keyvisual__pinknmapntxt is-display--pctab">
            <!-- Pink block starts -->
            <div class="c-keyvisual__pinkblock u-absolute">
                <picture>
                    <source media="(max-width: 767px)" srcset="./assets/img/keyvisual/back_pink--sp.png">
                    <img src="./assets/img/keyvisual/back_pink.png" alt="自然の恵、職人の技がつまった
            新潟からのお届け物">
                </picture>
            </div>
            <!-- Pink block ends -->

            <!-- Map block starts -->
            <div class="c-keyvisual__map u-absolute">
                <picture>
                    <source media="(max-width: 767px)" srcset="./assets/img/keyvisual/map--sp.png">
                    <img src="./assets/img/keyvisual/map.png" alt="自然の恵、職人の技がつまった
            新潟からのお届け物">
                </picture>
            </div>
            <!-- Map block ends -->

            <!-- Niigata block starts -->
            <div class="c-keyvisual__niigata u-absolute">
                <picture>
                    <source media="(max-width: 767px)" srcset="./assets/img/keyvisual/name--sp.png">
                    <img src="./assets/img/keyvisual/name.png" alt="NIIGATA">
                </picture>
            </div>
            <!-- Niigata block ends -->
        </div>
        <!-- PC TAB Pink block & Map & Niigata ends -->

        <!-- SP Pink block & Map & Niigata starts -->
        <!-- Pink block starts -->
        <div class="c-keyvisual__pinkblock u-absolute is-display--onlysp">
            <picture>
                <source media="(max-width: 767px)" srcset="./assets/img/keyvisual/back_pink--sp.png">
                <img src="./assets/img/keyvisual/back_pink.png" alt="自然の恵、職人の技がつまった
            新潟からのお届け物">
            </picture>
        </div>
        <!-- Pink block ends -->

        <!-- Map block starts -->
        <div class="c-keyvisual__map u-absolute is-display--onlysp">
            <picture>
                <source media="(max-width: 767px)" srcset="./assets/img/keyvisual/map--sp.png">
                <img src="./assets/img/keyvisual/map.png" alt="自然の恵、職人の技がつまった
            新潟からのお届け物">
            </picture>
        </div>
        <!-- Map block ends -->

        <!-- Niigata block starts -->
        <div class="c-keyvisual__niigata u-absolute is-display--onlysp">
            <picture>
                <source media="(max-width: 767px)" srcset="./assets/img/keyvisual/name--sp.png">
                <img src="./assets/img/keyvisual/name.png" alt="NIIGATA">
            </picture>
        </div>
        <!-- Niigata block ends -->
        <!-- SP Pink block & Map & Niigata ends -->

        <!-- Nature block starts -->
        <div class="c-keyvisual__natureblock u-absolute">
            <picture>
                <source media="(max-width: 767px)" srcset="./assets/img/keyvisual/photo--sp.png">
                <img src="./assets/img/keyvisual/photo.png" alt="自然の恵、職人の技がつまった
            新潟からのお届け物">
            </picture>
        </div>
        <!-- Nature block ends -->

        <!-- Title + Subtitle starts -->
        <div class="l-container l-container--1040px">

            <!-- Main title block starts -->
            <h1 class="c-keyvisual__maintitle u-absolute u-center">
                <picture>
                    <source media="(max-width: 767px)" srcset="./assets/img/keyvisual/mainTitle--sp.png">
                    <img src="./assets/img/keyvisual/mainTitle.png" alt="自然の恵、職人の技がつまった
            新潟からのお届け物">
                </picture>
            </h1>
            <!-- Main title block ends -->

            <!-- Sub title block starts -->
            <div class="c-keyvisual__subtitle u-absolute u-center">
                <picture>
                    <source media="(max-width: 767px)" srcset="./assets/img/keyvisual/txt--sp.png">
                    <img src="./assets/img/keyvisual/txt.png" alt="みやげっとは地域の素敵なものをお届けします。">
                </picture>
            </div>
            <!-- Sub title block ends -->
        </div>
        <!-- Title + Subtitle ends -->

    </div>
</section>