<div class="c-pagetop is-hidden">
    <a href="#" class="c-pagetop__circle">
        <picture>
            <source media="(max-width: 767px )" srcset="./assets/img/arrow--sp.svg">
            <img class="c-pagetop__logo" src="./assets/img/arrow.svg" alt="page top icon">
        </picture>
    </a>
</div>